/* resetcss start */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; /*to enable resizing for IE*/
}
/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  width: 100%;
  /* 外枠の大きさ */
  /* max-width: 1080px; */
  /* border: 1px solid black; */
  min-height: 600px;
}

/* 記事全ての枠の設定 */
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* 記事折り返し設定 */
  margin: 70px auto 0 auto;
}

.article-item {
  /* 記事アイテムの一つの大きさ */
  width: 30%;
  height: auto;
  margin-bottom: 30px;
}
.article-item a {
  color: #030303;
  text-decoration: none;
}
.article-inside {
  padding: 0 5%;
}
.article-dls {
}
.article-dls__dl {
  display: flex;
  padding: 2% 0;
}
.article-dls__dl dt,
dd {
  margin: auto;
  font-size: 0.8rem;
}
.article-dls__dl dt {
  font-weight: bold;
}

.article-item img {
  /* 画像は親要素に対して100%にする */
  width: 100%;
  height: 100%;
}

.article-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3% 0;
  font-weight: 700;
}
.article-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  /* 記事アイテムを大きくして二列にする */
  .article-item {
    width: 45%;
  }
  .article-item p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 620px) {
  .article-item {
    width: 85%;
    /* margin-bottom: -100px; */
  }
}
