.business{
  width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
  &__project{
    display: flex;
    &__contents{
      width: 50%;
      display: flex;
      &__item{
        width: 50%;
        overflow: hidden;
        position: relative;
        &__title{
          font-weight: 200;
          font-size: 20px;
          position: absolute;
          color: #ffffff;
          top: 92%;
          left: 50%;
          transform: translateY(-92%) translateX(-50%);
          -webkit-transform: translateY(-92%) translateX(-50%);
        }
        &__background{
          transition:1s all;
          z-index: 999;
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          &__description {
            width: 100%;
            padding: 0 30px;
            font-size: 14px;
            font-weight: 200;
            position: absolute;
            color: #ffffff;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
          }
        }
        img{
          transition:1s all;
          width: 100%;
          height: 660px;
          object-fit: cover;
          vertical-align: bottom;
        }
        &:hover .business__contents__item__background{
          opacity: 1;
          background-color: rgba(0,105,140,0.7);
          display: block;
          transition:1s all;
        }
        &:hover img{
          transform:scale(1.2,1.2);
          transition:1s all;
        }
      }
    }
  }

  &__explanation{
    text-align: center;
    margin: 100px 0;
    width: 100%;

    &__title{
      font-size: 42px;
      line-height: 200%;
      margin: 0 0 5px 0;
      font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
      color: #00698C;
      font-weight: 100;
    }

    &__desc{
      font-size: 14px;
      line-height: 2.2;
      margin: 0 0 35px 0;
      font-weight: 100;
    }
  }
}

@media screen and (max-width:768px){
  .business{
    padding: 0;
    width: 100%;
    &__project{
      display: block;
      &__contents{
        width: 100%;
        height: 400px;
        &__item{
          &__title{
            top: 85%;
            left: 50%;
            transform: translateY(-85%) translateX(-50%);
            -webkit-transform: translateY(-85%) translateX(-50%);
          }
          &__background{
            &__description {
              font-size: 13px;
            }
          }
        }
      }
    }

    &__explanation{
      margin: 0 0 20px 0;
      padding: 30px 20px 0;

      &__title{
        font-size: 21px !important;
        line-height: 1.5;
        margin: 0 0 20px 0;
      }

      &__desc{
        text-align: left;
        margin-bottom: 0;
      }
    }
  }
}