.footer{
    width: 100%;
    min-width: 1250px;

  &__top{
    background: #F7F7F7;
    min-width: 1200px;
    margin-top: 120px;

    &__container{
      display: flex;
      width: 1200px;
      margin: 0 auto;
      padding: 80px 0;

      &__adress{
        width: 350px;
        font-size: 12px;
        margin: 0;

        img{
          display: block;
          max-width: 100%;
          height: auto;
        }

        &__logo{

          p{
            margin-top: 17px;

            a{
              display: inline-block;

              .logo{
                vertical-align: middle;
                width: 50%;
                height: 50%;
              }
            }
          }
        }

        &__info{
          margin: 10px 0 0 0;
          line-height: 1.8;
        }
      }

      &__map{
        width: 750px;
        margin-left: auto;

        iframe{
          width: 100%;
          height: 400px;
        }
      }
    }
  }

  &__nav{
    margin: 2rem 0;
    
    &__item{
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;

      &__list{

        a:hover{
          color: #00698C;
        }
      }
    }
  }

  &__bottom{
    background: #000;
    width: 100%;
    min-width: 1200px;
    height: 60px;

    &__container{
      width: 1200px;
      margin: 0 auto;
      height: 60px;
      position: relative;

      &__link{
        position: absolute;
        top: 12px;
        z-index: 2;
      }

      &__copyright{
        display: block;
        margin: auto;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        height: 60px;
        line-height: 60px;
        font-size: 12px;
        color: #fff;
        z-index: 1;
      }
    }
  }

  &__return{
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 10;

    &__top{
      position: relative;
      display: block;
      height: 60px;
      width: 60px;
      text-decoration: none;
      background: #333;
    }

    &__top::before{
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: '\f077';
      top: 22px;
      left: 22px;
      color: #fff;
      font-size: 18px;
      display: block;
      position: absolute;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

@media screen and (min-width: 769px){
  .footer{

    &__nav{
      display: flex;
      justify-content: center;
      align-items: center;

      &__item {
        display: flex;
        
        &__list:after{
          content: ':';
          padding: 15px;
        }

        .li-last:after{
          content: '';
        }
      }
    }
  }
}

@media screen and (max-width:768px){

  .footer{
    min-width: 0;

    &__top{
      min-width: 0;
      margin-top: 25px;
      
      &__container{
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;

        &__adress{
          width: 100%;
          margin: 0;
          text-align: center;
          background: #fff;
          padding: 30px 20px 10px;

          img{
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            height: 130px;
            width: 250px;
          }

          &__logo{

            p{
  
              a{
  
                .logo{
                  width: 38%;
                  height: 38%;
                }
              }
            }
          }
        }

        &__map{
          margin: 0 auto;
          width: 100%;
          
          iframe{
            padding: 30px 20px;
          }
        }
      }
    }
  
    &__nav{

      &__item{
        border-left: 1px #bbbfc0 solid;
        text-align: center;

        &__list{
          width: 50%;
          border-top: 1px #bbbfc0 solid;
          border-right: 1px #bbbfc0 solid;
          font-size: 1rem;

          a{
            display: block;
            padding: 10px 0;
          }
        }

        .li-bottom{
          border-bottom: 1px #bbbfc0 solid;
        }

        .li-last{
          border-bottom: 1px #bbbfc0 solid;
        }
      }
    }

    &__bottom{
      background: none;
      width: 100%;
      min-width: 0;
      height: auto;

      &__container{
        width: 100%;
        margin: 0;
        height: auto;
        position: relative;

        &__link{
          // display:noneはSNS作成次第に消す
          display: none;
          position: relative;
          top: auto;
          text-align: center;
          height: 50px;
        }

        &__copyright{
          background: #000;
          padding: 0 10px;
          width: 100%;
          position: relative;
        }
      }
    }
  
    &__return{
      
    }
  }
}