.header{
  width: 100%;
  min-width: 1250px;
  height: 130px;
  background: #fff;
  position: relative;
  z-index: 20;
  animation: slideDown 0.5s ease;
  -ms-animation: slideDown 0.5s ease;
  -webkit-animation: slideDown 0.5s ease;
  -moz-animation: slideDown 0.5s ease;

  &__container{
    height: 130px;
    width: 1250px;
    margin: 0 auto;
    position: relative;

    &__logo{
      position: absolute;
      z-index: 1;
      left: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      &__link{

        .logo{
          vertical-align: middle;
          width: 50%;
          height: 50%;
        }
      }
    }

    &__global-menu{
      text-align: right;

      &__item{
        height: 130px;
        font-size: 0;
        position: relative;

        &__list{
          position: relative;
          display: inline-block;
          font-weight: bold;

          &__text{
            color: #333333;
            font-size: 12px;
            height: 130px;
            line-height: 130px;
            display: block;
            padding: 0 30px;
          }

          &__text:hover{
            color: #00698C;
          }
        }
      }
    }

    &__responsive-button{
      display: none;
    }
  }
}

.scrolled{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  width: 100%;
}


@-webkit-keyframes slideDown {
  0% { top:-50px; }
 100% { top:0px; }
}
@keyframes slideDown {
 0% { top:-50px; }
 100% { top:0px; }
}

@media screen and (max-width:768px){
  .header{
    height: 56px;
    min-width: 0;
    left: 0px;
    top: 0px;
    z-index: 10000;
    border-bottom: 1px solid #ccc;
    margin: 0;
    position: fixed;

    &__container{
      height: auto;
      width: 100% !important;
      height: 55px;
      margin: 0;
      padding: 0 !important;

      // &__logo{
      //   left: 15px;
        
      //   &__link{

      //     .logo{
      //       max-width: 240px;
      //       max-height: 40px;
      //       width: auto;
      //       height: auto;
      //     }
      //   }
      // }

      &__global-menu{
        text-align: center;
        width: 100%;
        top: 56px;
        position: absolute;
        z-index: -1;
        box-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        // overflow-y: auto;
        display: none;

        &__item{

          &__list{
            display: block;

            &__text{
              position: relative;
              padding: 0px 15px;
              height: 50px;
              line-height: 50px;
              color: #fff;
              background: #333;
              font-size: 13px;
              margin: 0;
            }
          }
        }
      }
      .active{
        opacity: 1;
        z-index: 100000;
        display: block;
      }

      &__responsive-button{
        position: absolute;
        right: 0px;
        z-index: 9;
        border-left: 1px solid #ddd;
        display: inline-block;
        font-size: 11px;
        color: #333;
        width: 55px;
        height: 55px;
        line-height: 55px;

        .active{
          background: #333;
        }

        .toggle{
          position: relative;
          width: 55px;
          height: 55px;
          cursor: pointer;
          z-index: 3;
          span{
            display: block;
            position: absolute;
            width: 30px;
            border-bottom: solid 3px #888;
            -webkit-transition: .35s ease-in-out;
            -moz-transition: .35s ease-in-out;
            transition: .35s ease-in-out;
            left: 12px;
          }
          span:nth-child(1){
            top: 16px;
          }
          span:nth-child(2){
            top: 27px;
          }
          span:nth-child(3){
            top: 38px;
          }
        }
        .active{
          
          span{
            border-bottom: solid 3px #fff;
          }

          span:nth-child(1){
            top: 28px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          span:nth-child(2),span:nth-child(3){
            top: 28px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}