.article{
  background-color: #f2f2f2;
}

.article__container{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

.article__container__item{
  width: 30%;
}

.article__container__item__up-box{
  position: relative;
  overflow: hidden;
  padding-top: 65%;
}

.article__container__item__up-box img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.article__container__item__down-box{
  position: relative;
  background-color: #ffffff;
  height: 150px;
  border-radius: 0 0 10px 10px;
  padding: 20px 15px;
}

.article__container__item__down-box span{
  font-size: 14px;
  color: #757575;
}

.article__container__item__down-box h3{
  margin-top: 10px;
  font-weight: bold;
  color: #454545;
}

.article__container__item__down-box img{
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: solid 2px #2b689c;
}