/* ページの名前 start*/
.page-header {
  margin: 147px 0 30px 70px;
  z-index: 8;
  position: relative;
  width: 80%;
}
/* contactのみ */
.contact-page-header {
  width: 100%;
  margin: 147px auto 30px;
}
/* contactのみ */
.page-header__inner {
  width: 100%;
  display: inline-block;
  position: relative;
}
.page-header__heading {
  border-left: 8px solid #2b689c;
  letter-spacing: 3px;
  font-size: 55px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  overflow: hidden;
  margin-bottom: 12px;
}

.page-header__subtitle{
  display: block;
  padding-left: 18px;
  font-weight: bold;
}
/* ページの名前 end */

/* サブタイトル start */
.creator__container__introduction__title {
  border-bottom: 5px dashed rgba(43, 104, 156, 1);
  padding-top: 3rem;
  text-align: center;
  letter-spacing: .2rem;
}
.creator__container__introduction__title__span {
  /* フォントは後で統一する、統一後にコメントを消去 */
  font-size: 2rem;
  font-weight: bold;
}
/* サブタイトル end */
/* クリエイター,会社概要のみ適用 start */
.c-page-header__heading {
  letter-spacing: .5em;
}
/* クリエイターページのみ適用 end */

/* タブレット start */
@media screen and (max-width:768px) {
  .page-header {
    margin: 50px 0 20px 20px;
  }
  .page-header__heading {
    font-size: 42px;
  }
}
/* タブレット end */

/* スマホ start */
@media screen and (max-width:639px) {
  .page-header__heading {
    font-size: 28px;
  }
}
/* スマホ end */