.concept__container{
  background-color: #f7f7f7;
  position: relative;
  height: 600px;
  margin-right: 180px;
}

.concept__container__background{
  position: absolute;
  color: #ffffff;
  font-size: 210px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  top: 50px;
}

.concept__container__contents{
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 999;
}

.concept__container__contents span{
  display: block;
}

.concept__container__contents__title{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

.concept__container__contents__sentence{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 32px;
}

.concept__container__image img{
  width: 450px;
  position: absolute;
  top: -120px;
  right: -80px;
  z-index: 1;
}

@media screen and (max-width:1023px){
  .concept__container{
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .concept__container__background{
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
  .concept__container__contents{
    text-align: center;
    width: 100%;
    padding: 0 20px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
  .concept__container__contents__title{
    font-size: 32px;
  }
  .concept__container__contents__sentence{
    font-size: 14px;
  }
  .concept__container__image img{
    display: none;
  }
}