.pageTitle {
display: none;
}
.pageTitle span {
  display: none;
}
.main {
  display: flex;
}

.form_row {
  padding: 0.5em;
  text-align: center;
}
.form_label {
  font-family: "TsukuBRdGothic-Regular", sans-serif;
}

.span-label {
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 10px;
  letter-spacing: 0.2em;
  background: #ff1a00;
  font-family: "TsukuBRdGothic-Regular", sans-serif;
  margin-left: 1em;
}
.form_content {
  padding: 1em 0;
}
.form_row-center {
  text-align: center;
}
input[type="text"],
input[type="email"],
#budget,
select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 3em;
  padding: 0 1em;
}
select {
  text-indent: 40%;
}
#message {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 10em;
  padding: 1em;
}
/* 送信ボタン */
input.btn {
  width: 300px;
  height: 60px;
  background: #2c649c;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.2em;
  border: 1px solid #2c649c;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

/* 送信ボタンホバー */
input.btn:hover {
  background: #fff;
  color: #2c649c;
}
select {
  text-indent: 40%;
}
@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  form {
    font-size: 20px;
  }
  select {
    text-indent: 35%;
  }
}
