/* creator start */
.creator__container__introduction {
  padding: 0 5rem 2rem 5rem;
}
.creator__container__introduction__title {
  border-bottom: 5px dashed rgba(43, 104, 156, 1);
  padding-top: 3rem;
  text-align: center;
}
.creator__container__introduction__title__span {
  /* フォントは後で統一する、統一後にコメントを消去 */
  font-size: 2rem;
  font-weight: bold;
}
.creator__container__introduction__content {
  margin-top: 3rem;
}
.creator__container__introduction__content__box {
  display: flex;
  flex-wrap: wrap;
}
.creator__container__introduction__content__box__square {
  position: relative;
  padding: 1rem;
  width: 25%;
}
.square__text {
  border: solid 2px rgba(43, 104, 156, 1);
  display: block;
  /* padding-top: 100%; */
  color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition: background-color 1s linear;
}
.square__text:hover {
  color: #ffffff;
  transition: background-color 0.1s linear;
  background-color: rgba(43, 104, 156, 1);
}
.square__text__img {
  opacity: 0;
}
.square__text__img:hover {
  opacity: 1;
}
.square__text__span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* creator max-width: 1023px start */
@media screen and (max-width: 1023px) {
  .creator__container__introduction {
    padding: 0 3.5rem 2rem 3.5rem;
  }
  .creator__container__introduction__content__box {
    margin-bottom: 1.5rem;
  }
}
/* creator max-width: 1023px end */

/* creator max-width: 639px start */
@media screen and (max-width: 639px) {
  .creator__container__introduction {
    padding: 0 1.5rem 1rem 1.5rem;
  }
  .creator__container__introduction__title {
    padding-top: 1.5rem;
  }
  .creator__container__introduction__title__span {
    /* フォントは後で統一する、統一後にコメントを消去 */
    font-size: 1.3rem;
    font-weight: bold;
  }
  .creator__container__introduction__content {
    margin-top: 1rem;
  }
}
/* creator max-width: 639px end */

/* creator max-width: 768px start */
@media screen and (max-width: 768px) {
  .creator__container__introduction__content__box__square {
    width: 50%;
  }
}
/* creator max-width: 768px end */

/* creator　end */
