.header{
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.header__left{
  padding: 10px 20px;
}
.header__left__logo img{
  margin-top: 15px;
  width: 120px;
}
.header__right__list{
  display: flex;
  margin-top: 38px;
}
.header__right__list li{
  position: relative;
  margin-right: 60px;
  font-weight: bold;
}
.header__right__list li a::after{
  position: absolute;
  content: '';
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background: #2b689c;
  transition: all 0.3s ease 0s;
}
.header__right__list li a:hover::after{
  width: 100%;
}

/*レスポンシブデザイン*/
.navi{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 100%;
  transform: translateY(-100%);
  transition: all 0.6s;
}
.navi ul{
  width: 100%;
  margin: 60px auto 0 auto;
  padding: 0;
}
.navi ul li{
  font-size: 0.9rem;
  font-family: 見出しゴMB31, "Midashi Go MB31", "Noto Sans JP", sans-serif;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #2b689c;
}
.navi ul li a{
  display: block;
  padding: 1em 0;
}
.navi ul li a:hover{
  opacity: .7;
}
.navi ul li:last-child{
  padding-bottom: 0;
}
.active{
  transform: translateY(0%);
}
.header-responsive{
  display: none;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
  background-color: #fff;
}
.header-responsive__left a .logo img{
  width: 90px;
  margin-top: 5px;
}
.header-responsive__right .toggle{
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 3;
}
.header-responsive__right .toggle span{
  display: block;
  position: absolute;
  width: 30px;
  border-bottom: solid 3px #2b689c;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}
.header-responsive__right .toggle span:nth-child(1){
  top: 9px;
}
.header-responsive__right .toggle span:nth-child(2){
  top: 18px;
}
.header-responsive__right .toggle span:nth-child(3){
  top: 27px;
}
.header-responsive__right .active span:nth-child(1){
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header-responsive__right .active span:nth-child(2),.header-responsive__right .active span:nth-child(3){
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media screen and (max-width:1023px){
  .header{
    display: none;
  }
  .header-responsive{
    display: flex;
  }
}