.container_slide {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.slick-slide {
  text-align: center;
  color: #419be0;
}

/* top-content start */
.t-top-content {
  position: absolute;
  display: block;
  text-align: center;
  margin: 0 auto;
  top: 39%;
  left: 35%;
  color: #e2e2e2;
}

/* top-content end */
.t-fiber-about {
  text-align: center;
}
.t-fiber-about__title {
}
.t-fiber-about__content {
  font-family: "TsukuBRdGothic-Regular", sans-serif;
  font-size: 25px;
  line-height: 80px;
  font-weight: 400;
  color: #000000;
}
/* fade-in start */
.js-fadein {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-fadein.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* fade-in end */

.t-creater {
  height: 640px;
}
#slick01 {
  height: 640px;
}
#slick01 div {
  height: 600px;
}

/* top-works start */
/* 大枠 */
.works-continer {
  position: relative;
  overflow: hidden;
  padding-top: 7.5rem;
  padding-bottom: 7rem;
}
.works-continer__content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* 大枠 end */
/* ヘッド */
.works-continer__content__heading {
  margin-bottom: 2.3rem;
}
/* フォント後ほど */
.works-continer__content__heading span {
  font-weight: 900;
  line-height: 1.2;
  font-size: 3.5rem;
  letter-spacing: .05em;
  display: block;
}
.works-continer__content__heading small {
  display: block;
  font-size: 1.125rem;
  letter-spacing: .05em;
  margin-top: .3125rem;
}
/* ヘッド end */
/* nav */
.works-continer__items {

}
.works-continer__items__navs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4.5rem;
}
.works-continer__items__navs li {
  min-width: 7.625rem;
  margin-right: .5rem;
}
.works-continer__items__navs li a {
  font-family: '見出しゴMB31','Midashi Go MB31','Noto Sans JP',sans-serif;
  font-weight: 700;
  background-color: #222;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.9375rem;
  width: 100%;
  position: relative;
  transition: all .3s;
  font-size: .875rem;
  box-shadow: 0px 10px 50px rgba(0,0,0,.05);
}
/* nav end*/
/* item start */
.works-continer__items__contents {
  display: block;
}
.works-continer__items__contents__post {

}
.works-continer__items__contents__flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.works-continer__items__contents__block {
  width: 32%;
  margin-right: 1.32%;
  margin-bottom: 3rem;
}
.works-continer__items__contents__post__outer {
  display: block;
  text-decoration: none;
  color: #222;
  opacity: 1 !important;
}
.works-continer__items__contents__post__overflow {
  width: 100%;
  padding-top: 57.83784%;
  position: relative;
  overflow: hidden;
}
.works-continer__items__contents__post__image {
background-color: black;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
transition: all .3s;
}
/* item end */
.t-works {
  text-align: center;
}
.t-works__tag {
  display: inline-flex;
  text-align: center;
  font-size: 20px;
  padding: 2em;
}
.t-works__tag > p {
  padding: 0 3em;
}

.t-works__box {
  height: 840px;
  margin: 0 auto;
  display: flex;
}
.category-nav {
  height: 170px;
  width: 100%;
  text-align: center;
}
.t-section-name {
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-align: center;
}
.t-works__box__discription {
  display: flex;
}
.t-works__box__left {
  height: 670px;
  width: 400px;
}
.t-works__box__discription__content {
  height: 36%;
  width: 62%;
  border-radius: 50%;
  border: solid 3px #000000;
  border-style: dotted;
}
.t-works__box__discription__content p {
  height: 6em;
  text-align: center;
}
.t-works__box__right {
  width: 900px;
  margin: 0 auto;
  background-color: midnightblue;
}
/* top-works end */

.blog-articles01-module--row {
  width: auto;
  display: flex;
}
.blog-articles01-module {
  flex: 1 1 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
.blog-article01-module__figure {
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.blog-article01-module__figure img {
  width: 100%;
}
.blog-article01-module__content {
  margin: 14px 30px 0;
}
.blog-article01-module__title {
  font-size: 15px;
}
.blog-article01-module__excerpt {
  margin-top: 9px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 12px;
  line-height: 1.666666667;
  letter-spacing: 0.05em;
}
.blog-article01-module__dls {
  display: flex;
  margin-top: 9px;
}
.blog-article01-module__dl {
  display: flex;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.thumb {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
/* PC用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .index {
    height: 400px;
    font-family: "TsukuBRdGothic-Regular", sans-serif;
    font-size: 36px;
    line-height: 68px;
    color: #000000;
    font-weight: 700;
    vertical-align: bottom;
    position: relative;
  }
  .index img {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .t-top-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 0.4em;
  }
  #nav-drawer {
    right: 7%;
    top: 18%;
  }
  .blog-articles01-module--row {
    display: contents;
  }
  .t-fiber-about__content {
    line-height: 2.3em;
    font-size: 1.3em;
  }
  .t-fiber-about {
    padding: 0 2em;
  }
  .t-works__tag {
    display: inline-flex;
    text-align: center;
    font-size: 20px;
  }
  .t-works__tag > p {
    padding: 0;
  }
  .t-works__box__discription {
    display: contents;
  }
  .t-works__box__left {
    height: 300px;
    width: 100%;
  }
  .t-works__box__discription__content {
    height: 77%;
    width: 68%;
    border-radius: 50%;
    border: solid 3px #000000;
    border-style: dotted;
    font-size: 1em;
    margin: 0 auto;
  }
  .t-works__box__right img {
    height: 30%;
    width: 100%;
  }
  .t-works__box__right {
    width: 100%;
    margin: 0 auto;
  }
}
.content {
  margin: 0 auto;
  width: 100%;
  /* 外枠の大きさ */
  /* max-width: 1080px; */
  /* border: 1px solid black; */
  min-height: 600px;
}

/* 記事全ての枠の設定 */
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* 記事折り返し設定 */
  margin: 0 auto ;
}

.article-item {
  /* 記事アイテムの一つの大きさ */
  width: 30%;
  height: auto;
  margin-bottom: 30px;
}
.article-item a {
  color: #030303;
  text-decoration: none;
}
.article-inside {
  padding: 0 5%;
}
.article-dls {
}
.article-dls__dl {
  display: flex;
  padding: 2% 0;
}
.article-dls__dl dt,
dd {
  margin: auto;
  font-size: 0.8rem;
}
.article-dls__dl dt {
  font-weight: bold;
}

.article-item img {
  /* 画像は親要素に対して100%にする */
  width: 100%;
  height: 200px;
}

.article-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3% 0;
  font-weight: 700;
}
.article-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.image-trim {
  position: relative;
  overflow: hidden;
  padding-top: 100%; /* 比率 */
}
.image-trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s all;
  border: 5px solid #2c649c;
}
.image-trim img:hover {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.image-trim_none-object-fit {
  position: relative;
  overflow: hidden;
  padding-top: 70%; /* 比率 */
  background: #eee; /* 確認用 */
}
.image-trim_none-object-fit img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
}

.flex-item {
  flex-basis: 20%;
}
.flex-item h2 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 18px;
  padding: 1em 0.3em 0.2em;
}
.flex-item p {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 18px;
  padding: 0 0.3em;
  opacity: 0.5;
}

/* button */
.btn-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #2c649c;
  transition: 0.4s;
}

.btn-vertical-border:before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  background: #2c649c;
}

.btn-vertical-border:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 4px;
  height: 100%;
  top: 0;
  left: 100%;
  border-radius: 3px;
  background: #2c649c;
}

.btn-vertical-border:hover:before,
.btn-vertical-border:hover:after {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
footer {
  margin: 25px 0;
}
small {
  display: table;
  margin: 0 auto;
  opacity: 0.5;
}
@media screen and (max-width: 920px) {
  /* 記事アイテムを大きくして二列にする */
  .article-item {
    width: 45%;
  }
  .article-item p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .flex {
    display: block;
  }
  .flex-item {
    padding: 1em 0;
  }
}

@media screen and (max-width: 620px) {
  .article-item {
    width: 85%;
    /* margin-bottom: -100px; */
  }
  .flex {
    display: block;
  }
  .flex-item {
    padding: 1em 0;
  }
}
