/* member start */
.member {
  background-color: rgb(251, 251, 251);
  font-family: "TsukuBRdGothic-Regular", sans-serif;
}
.member__container__person {
  padding: 2rem 5rem 2rem 5rem;
}
.member__container__person__content {
  margin-top: 3rem;
  display: flex;
  flex-direction: row-reverse;
}
.member__container__person__content__box {
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 18px;
}
.left {
  width: 45%;
}
.member__container__person__content__box__name {
  position: relative;
  border-left: solid 5px rgba(43, 104, 156, 1);
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1rem;
}
.member__container__person__content__box__name__full {
  font-size: 2.5vw;
  overflow-x: auto;
  letter-spacing: 0.5vw;
}
.member__container__person__content__box__name__romaji {
  color: rgba(43, 104, 156, 1);
  font-size: 1.5vw;
  letter-spacing: 0.5vw;
}
.member__container__person__content__box__name__occupation {
  font-size: 1vw;
  padding: 0.4rem 0;
}
.member__container__person__content__box__name__sns {
  display: flex;
}
.sns-margin:first-of-type {
  padding-left: 0;
}
.sns-margin {
  padding: 0 0.5rem;
}
.sns-margin:last-of-type {
  padding-right: 0;
}
.sns-link {
  display: block;
  width: 2.5vw;
  line-height: 2.4vw;
  height: 2.5vw;
  font-size: 1.5vw;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000000;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sns-link:hover {
  border: 1px solid transparent;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  color: #ffffff;
}
.twitter:hover {
  background-color: #00a4bb;
}
.instagram:hover {
  background-color: #742ed2;
  background-image: linear-gradient(
    to right bottom,
    #742ed2 0%,
    #e84993 25%,
    #e84993 25%,
    #ff3437 50%,
    #ff3437 50%,
    #fe6b2d 75%,
    #ffb140 100%
  );
}
.youtube:hover {
  background-color: red;
}
.qiita:hover {
  background-color: #55c500;
}
.personal:hover {
  background-color: #000000;
}

.member__container__person__content__box__sentence {
  height: 40%;
  overflow: auto;
  font-size: 1vw;
  color: rgb(128, 133, 135);
  letter-spacing: 1px;
  font-weight: bold;
  word-break: break-all;
  padding: 5%;
}
.member__container__person__content__box__skill {
  height: 30%;
  padding: 5%;
  overflow: auto;
}
.member__container__person__content__box__skill__title {
  font-size: 1.5vw;
  letter-spacing: 1px;
  font-weight: bold;
  word-break: break-all;
  padding-bottom: 0.5rem;
}
.member__container__person__content__box__skill__element {
  font-size: 1vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.skill {
  display: block;
  text-align: center;
  color: rgb(128, 133, 135);
  background-color: rgb(244, 245, 245);
  border-radius: 18px;
  padding: 0.5vw 1vw;
  margin: 5px 5px 5px 0px;
}
.right {
  height: 100%;
  width: 55%;
  border: solid 5px rgba(43, 104, 156, 1);
}
.right__img {
  width: 100%;
  vertical-align: bottom;
}

/* member max-width: 1023px start */
@media screen and (max-width: 1023px) {
  .member__container__person {
    padding: 2rem 3.5rem 2rem 3.5rem;
  }
}
/* member max-width: 1023px end */

/* member max-width: 768px start */
@media screen and (max-width: 768px) {
  .member__container__person {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .member__container__person__content {
    display: block;
    margin-top: 1rem;
  }
  .member__container__person__content__box {
    margin: 0;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .member__container__person__content__box__name__full {
    font-size: 1.5rem;
  }
  .member__container__person__content__box__name__romaji ,.member__container__person__content__box__skill__title{
    font-size: 1.2rem;
  }
  .member__container__person__content__box__name__occupation,
  .member__container__person__content__box__sentence,
  .member__container__person__content__box__skill__element{
    font-size: 0.8rem;
  }
  .member__container__person__content__box__skill {
    padding-top: 0;
  }
  .sns-link {
    width: 1.5rem;
    line-height: 1.44rem;
    height: 1.5rem;
    font-size: 0.9rem;
  }
  .sns-margin {
    padding: 0 0.3rem;
  }
}
/* member max-width: 768px end */

/* member min-width: 769px start */
@media screen and (min-width: 769px) {
  .right {
    margin-left: 1%;
  }

  .member__container__person__content__box__sentence,
  .member__container__person__content__box__skill {
    padding-bottom: 0;
  }
}
/* member min-width: 769px end */

/* member end */
