body {
  width: 100%;
}

/*  リファクタリングでindex.cssに統合する予定  */
/* .pageTitle {
  text-align: center;
  font-size: 2em;
  font-family: serif;
  padding-top: 2em;
  color: #2c649c;
}
.pageTitle span {
  display: none;
} */
