#form {
  position: relative;
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 2%;
}
#s-box {
  height: 40px;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
  border: solid 3px #eaeaea;
  outline: 0;
}
#s-btn-area {
  height: 50px;
  position: absolute;
  left: 250px;
  top: 5px;
  background: none;
  color: #666;
  border: none;
  font-size: 20px;
  outline: 0;
}
#s-btn {
  background-color: #2b689c;
  width: 50px;
  height: 30px;
  position: relative;
  right: 20px;
  bottom: 10px;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  line-height: 31px;
}
