/* wkd-page-header start */
a {
  color: currentColor;
  text-decoration: none;
}
.wkd-page-header--works-detail {
  margin-top: 98px;
  font-size: 30px;
  padding-left: .8em;
  letter-spacing: .8em;
}
.wkd-page-header {
  margin-top: 90px;
  text-align: center;
  z-index: 8;
  position: relative;
}
.wkd-page-header__inner {
  display: inline-block;
  position: relative;
}
.wkd-page-header__heading {
  font-size: 30px;
  padding-left: .8em;
  letter-spacing: .8em;
  display: inline-block;
  padding-left: .3em;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  overflow: hidden;
}
/* wkd-page-header end */

/* wkd-article start */
.wkd-article {
  margin: 124px auto 0;
  width: 80%;
}
.wkd-article__title {
  font-size: 40px;
  font-family: YakuHanJPs, "Roboto Slab", "Midashi Go MB31", sans-serif;
  font-weight: bold;
  letter-spacing: .05em;
}
.wkd-info-module {
  margin-top: 14px;
}
.wkd-info-module__content {
  display: flex;
}
.wkd-info-module__client {
  margin-right: 20px;
  font-size: 13px;
  letter-spacing: 0;
}
.wkd-info-module__texts {
  margin-top: 4px;
  display: flex;
  font-family: "Roboto Slab", serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: .05em;
  white-space: nowrap;
}
.wkd-info-module__category {
  padding: 0 calc(10px - .05em) 0 10px;
  background: #f3f3f3;
}
.wkd-info-module__link {
  margin-top: 16px;
  max-width: 480px;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .05em;
  vertical-align: top;
  word-break: break-all;
  position: relative;
}
.wkd-info-module__link::after {
  content: "";
  height: 3px;
  background: black;
  background-size: auto 100%;
  position: absolute;
  right: .05em;
  bottom: -6px;
  left: 0;
}
.wkd-data-module {
  display: flex;
  margin-top: 37px;
}
.wkd-data-module p {
  width: 50%;
  font-size: 13px;
  line-height: 2.15;
  letter-spacing: .05em;
}
.wkd-data-module__members {
  margin: -52px 0 0 70px;
  width: 50%;
}
.wkd-project-members-module__heading {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .05em;
}
.wkd-project-members-module__list {
  display: flex;
  flex-wrap: wrap;
  border-left: solid 1px #dedede;
  margin-top: 20px;
}
.wkd-project-members-module__item {
  width: 50%;
  border: solid #dedede;
  border-width: 1px 1px 1px 0;
}
.wkd-project-member-module {
  display: block;
}
.wkd-project-member-module__inner {
  height: 54px;
  position: relative;
}
.wkd-project-member-module__inner p {
  width: 195px;
}
.wkd-project-member-module__image {
  height: 30px;
  position: relative;
  top: 12px;
  left: 14px;
}
.wkd-project-member-module__role {
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 53px;
  font-family: "Roboto Slab", serif;
  letter-spacing: .05em;
}
.wkd-project-member-module__name {
  font-size: 12px;
  position: absolute;
  top: 28px;
  left: 53px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .05em;
}

/* wkd-article end */

/* ここからタブレット */
@media (max-width: 768px){
  .wkd-article {
    margin: 50px auto 0;
    width: 700px;
  }
  .wkd-data-module p {
    font-size: 10px;
  }
  .wkd-data-module__members {
    margin: -52px 0 0 30px;
  }
  .wkd-project-member-module__inner p {
    width: 115px;
  }
  /* wkd-article end */
}

/* ここからスマホ */
@media screen and (max-width: 480px) {
  .wkd-page-header {
    margin-top: 50px;
  }
  /* wkd-page-header end */
  
  /* wkd-article start */
  .wkd-article {
    margin: 25px auto 0;
    width: 95%;
  }
  .wkd-article__title {
    font-size: 18px;
  }
  .wkd-info-module {
    margin-top: 7px;
  }
  .wkd-info-module__client {
    margin-right: 5px;
    font-size: 10px;
  }
  .wkd-info-module__texts {
    margin-top: 0;
  }
  .wkd-info-module__link {
    max-width: 480px;
    margin-top: 7px;
  }
  .wkd-info-module__link::after {
    height: 2px;
  }
  .wkd-data-module {
    display: block;
    margin-top: 20px;
  }
  .wkd-data-module p{
    width: 100%;
    font-size: 10px;
  }
  .wkd-data-module__members {
    margin: 10px auto 0;
    width: 100%;
  }
  .wkd-project-members-module__list {
    margin-top: 10px;
  }
  .wkd-project-member-module {
    display: block;
  }
  .wkd-project-members-module__item{
    width: 50%;
  }
  .wkd-project-member-module__inner {
    height: 54px;
    position: relative;
  }
  .wkd-project-member-module__inner p{
    width: 125px;
  }

  /* wkd-article end */
}
/* wkd-article end */